body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
}
header{}
.fast-header{
	background-color: #535D69;
}
.wrapper{
	width: 900px;
	min-height: 10px;
	margin:  0 auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.left{
    width: 30%;
    float: left;
}
.left p{
	margin: 10px 0px 0px 48px;
	/*padding-left: 48px;*/
	color: white;
    font-size: 14px;
    cursor: pointer;
}
.mid{
	width: 30%;
	float: left;
	padding: 5px 0px 5px 0px;
	margin-left: 260px;
}
.mid i{
	color: white;
	padding: 8px 25px;
	font-size: 12px;
	cursor: pointer;
}
.mid i:hover{
color: #32CD32;
}
.right{
	width: 10%;
	text-align: center;
	float: left;
	
}
.b1{
	width: 90px;
	height: 38px;
	background: red;
    margin-left: -25px;
	color: white;
	border: none;
	cursor: pointer;
}
.b1:hover{
background: #32CD32;
}
.second-header{
	height: 60px;
	background: white;
	/*border: 1px solid black;*/
}
.left2{
	width: 25%;
    float: left;
}
.left2 img{
	width: 178px;
	margin-top: 8px;
	padding-left: 48px;
}
nav{
 	width: 75%;
    /* border: 1px solid red; */
    float: left;
 }
nav ul{
	padding-top: 5px;
}
nav ul li {
	list-style: none;
	float: left;
}
nav ul li a{
	color: #4A596C;
	text-decoration: none;
    padding: 0px 10px;
    display:inline-block;
    transition: .5s;
}
.hv{
	color: red;
}
nav ul li a:hover{
	color: red;
}
.sec1{
	 background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
}
.home{
	width: 50%;
	padding: 30px 25px 25px;
	margin-top: 100px;
	margin-bottom: 250px;
}
.home h1{
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 400;
	color: #ffff;
	font-size: 43px;
}
.home p{
	font-weight: 400;
	font-size: 15px;
	color: #ffff;
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 30px;
}


.button{
	width: 220px;
	height: 38px;
	background: red;
    border-radius: 5px;
	color: white;
	border: none;
	cursor: pointer;
	margin: 0 auto;
}
.button:hover{
background: #32CD32;
}
.work{
	width: 70%;
	padding: 30px 0px 25px;
	margin: 0 auto;
	text-align: center;
}
.work h2{
}
.work p{
	opacity: .6
}
.service{
	width: 30%;
	margin-top: 10px;
	margin-left: 23px;
	text-align: center;
	float: left;
}
.b2{
	border: none;
	cursor: pointer;
}
.text-b{
	width: 45%;
	float: left;
	padding: 30px 25px 25px;
	/*border: 1px solid black;*/
}
.text-b h2{
	margin: 0 auto;
	text-transform: uppercase;
}
.text-b p{
	line-height: 20px;
	opacity: .6
}
.text-b button{
	width: 115px;
	height: 35px;
	background: red;
    border-radius: 5px;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	text-transform:uppercase;

}
.text-b button:hover{
background: #32CD32;
}
.video{
	width: 45%;
	float: right;
}
.video video{
	width: 100%;
	margin-top: 22px;
}
.features{
	width: 75%;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}
.features h1{
	text-transform: uppercase;
}
.features p{
	line-height: 20px;
	opacity: .6
}




.features_box{

}
.single_features{
	float: left;
	width: 25%;
	text-align: center;
	border: 1px solid #716c6c24;
	margin: 20px 25px 20px;
	padding: 0px;
	cursor: pointer;
}
.single_features i{
    font-size: 50px;
    padding-top: 20px;
}

.single_features:hover i{
	color: red
}
.single_features h2{
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	padding: 0px 5px;
	font-size: 20px;
}
.single_features p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-size: 14px;
	padding: 0px 26px;
}


.single_features:hover{
	transform: scale(1.1);
	-webkit-box-shadow: 1px 1px 35px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 35px -13px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 35px -13px rgba(0,0,0,0.75);
}

.features_btn{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

.features_btn a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 10px 15px;
	color: red;
	background-color: `#ccc;
	-webkit-box-shadow: 1px 1px 35px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 35px -13px rgba(0,0,0,0.75);
	box-shadow: 8px 8px 39px -9px rgba(0,0,0,0.75);
}
/* end features section*/
/*start footer section*/
footer{}
.main_footer{
	background-color: black;
	font-family: 'Roboto', sans-serif;

}
.footer_content_box{
	width: 25%;
	float: left;
	padding-left: 75px;
}

.footer_content_box h2{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	    color: #ff0000de;
	text-transform: uppercase;
}
.footer_content_box p{
	color: white;
	
}

.footer_content_box a{
	text-decoration: none;
	color: white;
	text-transform: capitalize;

}
.footer_content_box a:hover{
	color: red;
}


.social_link i{
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.social_link i:hover{
	color: red;
}

.footer_content_box input{
	background-color: transparent;
	text-transform: capitalize;
	padding: 10px 0px;
	width: 45%;
	outline: none;
	outline: none;
	border: 1px solid #ccc;
	color: white;
}

.footer_content_box input[type="submit"] {
    background-color: red;
    color: white;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.footer_bottom{
	background-color: #535D69;
}

.footer_content {
	width: 50%;
	margin: 0 auto;
}

.footer_content p{
	font-family: 'Roboto', sans-serif;
	color: white;
}
